




.pro_table>table {
border-width: 2px;
border-style: dotted;
border-color:red;
border-collapse:collapse;
width: 60%;
}

.pro_table>table th, .pro_table> table td{
    border: 1px solid crimson;
    padding: 5px;
    text-align: center;
}

.pro_table>table th {
    background-color: olive;
}
.pro_table>table tr:hover {
    background-color: sienna;
}

@media print {
    .screen_only{

    display: none;
    }
}

@media(max-width:769){
    body{
        background-color:turquoise;
    }
}
 
@media (min-width:641px ) and (max-width:768px){
    body{
        background-image: linear-gradient(to left,red, yellow,green);
    text-align:center;
    font-style:italic;
    background-clip: text;
    }
}

