



@media print {
    .screen_only{

    display: none;
    }
}

@media(max-width:769){
    body{
        background-color:turquoise;
    }
}
 
@media (min-width:641px ) and (max-width:768px){
    body{
        background-image: linear-gradient(to left,red, yellow,green);
    text-align:center;
    font-style:italic;
    background-clip: text;
    }
}

